<a href="https://colab.research.google.com/github/MarasiganD/MarasiganD/blob/main/HOA1_Literals_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1.1 Assigning variables of different data types in Python
# assignment operator is the = sign
value = 5

print(value)

5

In [2]:
# Use type to check the DATA TYPE of the parameter passed
type(value)

int

In [3]:
value = 5.0
type(value)

float

In [18]:
print(type(2+3j))
print(type('Hello World'))
print(type("Hello World"))

# Boolean means true or false / 1 or 0
print(type(True))
print(type(False))

# Iterables -> Iterate inside
print(type([1, 2, 3, 4, 5])) # lists can be changed
print(type((1, 2, 3, 4, 5))) # tuples cannot be changed
print(type({'name':'Dolly Marasigan'}))
print(type(None))

value = 5
value2 = -6

<class 'complex'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'NoneType'>

In [9]:
# Procedure 2
# Performing Operations with Python

print(value+value2)

-1

In [10]:
value, value2 = 5.0, 6
print(value+value2)

11.0

In [11]:
value, value2 = -5, 6.1
print(value+value2)

1.0999999999999996

In [13]:
value, value2 = "Hello", 'world'
print(value + " " + value2)

# You may use "+" for concatenation of strings

Hello world

In [16]:
value, value2 = [1, 2, 3], [4, 5, 6]
print(value+value2)

# Concatenation of lists / append.

[1, 2, 3, 4, 5, 6]

In [17]:
value, value2 = (1, 2, 3), (4, 5, 6)
print(value+value2)

(1, 2, 3, 4, 5, 6)

In [19]:
value, value2 = {'name':'Dolly'}, {'age':20}
print(value+value2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [20]:
value, value2 = 30, 4

print(value*value2)
print(value2**2)
print(value2**3)
print(value * value2 + value2**2 + 1)
print(value/value2)
print(value%value2)

120
16
64
137
7.5
2

In [21]:
name = input("What's your name?")

What's your name?Dolly

In [22]:
name = input("Enter your name: ")
weight = float(input("Enter your weight(kg): "))
height = float(input("Enter your height(m): "))

bmi = weight / height**2

Enter your name: Dolly
Enter your weight(kg): 43.5
Enter your height(m): 160